{% extends 'base_template.html' %}

{% block export %}

<table class="table table-striped table-sm" style="margin-left: 10%; width: 80%;">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Company</th>
        <th>Industry</th>
        <th>Purpose</th>
        <th>BoardMeetingDate</th>
      </tr>
    </thead>
    <tbody>
      {% for value in data %}
      <tr>
        <td>{{ value[0] }}</td>
        <td>{{ value[1] }}</td>
        <td>{{ value[2] }}</td>
        <td>{{ value[3] }}</td>
        <td>{{ value[4] }}</td>

      </tr>
      {% endfor %}
      <tr>
          <td colspan="5" style="text-align: right;"><a href="/export_all/">see more...</a></td>
      </tr>
    </tbody>
  </table>      


{% endblock %}