{% extends 'base_template.html' %}

{% block news %}

  <table class="table " style="width: 40%; float: left; margin-left: 2%;">
    <thead>
      <tr>
        <th scope="col" style='text-align: center;' >CNBC</th>
      </tr>
    </thead>
  </table  >  
  <table class="table table-hover" style="width: 40%; float: left; margin-top: 5%; margin-left: -40%;">
    <thead>
      <tr>
        <th scope="col" style="width: 10%;">SNo</th>
        <th scope="col"style="text-align: center;">Title</th>
        <th scope="col" style="width: 10%;">Links</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for num,val in data1 %}
        <tr>
          <th scope="row">{{num}}</th>
          {% if val[4] == 'negative' %}
                <td><span class="border border-danger">{{val[1]}}</span></td>
          {% elif val[4] == 'netural' %}
                <td><span class="border border-warning">{{val[1]}}</span></td>
          {% else %}
                <td><span class="border border-success">{{val[1]}}</span></td>
          {% endif %}
        <td style="width: 10%;"><a href={{val[3]}}>click here</a></td>
        </tr>
        {% endfor %}
      <tr>
        <td colspan='3' style="text-align: right;"><a href='/cnbctv/'>see more...</a></td>
      </tr>
    </tbody>
  </table>


</nav>
<table class="table" style="width: 40%; float: right; margin-right: 2%;">
  <thead>
    <tr>
      <th scope="col" style="text-align:center; padding-right: 20%;">Money Control</th>
    </tr>
  </thead>
</table>  
<table class="table table-hover" style="width: 40% ; float:right; margin-top: 10px; margin-right: 2%;" >
  <thead>
    <tr>
      <th scope="col" style="width: 10%;">SNo</th>
      <th scope="col"style="text-align: center;">Title</th>
      <th scope="col" style="width: 10%;">Links</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for num,val in data2 %}
      <tr>
        <th scope="row">{{num}}</th>
        {% if val[3] == 'negative' %}
              <td><span class="border border-danger">{{val[1]}}</span></td>
        {% elif val[3] == 'netural' %}
              <td><span class="border border-warning">{{val[1]}}</span></td>
        {% else %}
              <td><span class="border border-success">{{val[1]}}</span></td>
        {% endif %}
      <td style="width: 10%;"><a href={{val[3]}}>click here</a></td>
      </tr>
      {% endfor %}
    <tr>
      <td colspan='3' style="text-align: right;"><a href='/money_news/'>see more...</a></td>
    </tr>
  </tbody>
</table>



{% endblock %}