{% extends 'base_template.html' %}

{% block tsa %}

            

            <table class="table table-bordered" style="width:40%; float:left; margin-left: 2%;" >
                <thead>
                  <tr>
                    <th scope="col" colspan="2" style="text-align: center;">{{data[1][0]}}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for keys,values in data[1][1].items() %}
                  <tr>
                    <td>{{keys}}</td>
                    <td>{{values}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>


              <table class="table table-bordered" style="width:40%; float:right; margin-right:2%;">
                <thead>
                  <tr>
                    <th scope="col" colspan="3" style="text-align: center;">{{data[2][0]}}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for keys,values in data[2][1].items() %}
                  <tr>
                    <td>{{keys}}</td>
                    {% for val in values %}
                    <td>{{val}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        
         
            <table class="table table-bordered" style="width:40%; float: left; margin-right:25%; margin-top: 2%; margin-left: 2%;">
                <thead>
                  <tr>
                    <th scope="col" colspan="3" style="text-align: center;">{{data[3][0]}} </th>
                  </tr>
                </thead>
                <tbody>
                  {% for keys,values in data[3][1].items() %}
                  <tr>
                    <td>{{keys}}</td>
                    {% for val in values %}
                    <td>{{val}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <table class="table table-bordered" style="width:40%; float:right; margin-top: -27%; margin-right: 2%;" >
                <thead>
                  <tr>
                    <th scope="col" colspan="3" style="text-align: center;">{{data[4][0]}}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for keys,values in data[4][1].items() %}
                  <tr>
                    <td>{{keys}}</td>
                    {% for val in values %}
                    <td>{{val}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}


                </tbody>
              </table>

              <table class="table table-bordered" style="width:40%; float:left; margin-top: 2%; margin-left: 2%;">
                <thead>
                  <tr>
                    <th scope="col" colspan="2" style="text-align: center;">{{data[5][0]}}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for keys,values in data[5][1].items() %}
                  <tr>
                    <td>{{keys}}</td>
                    <td>{{values}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        
        
             <table class="table table-bordered" style="width:40%; float:right; margin-top: 2%; margin-right: 2%;">
                <thead>
                  <tr>
                    <th scope="col" colspan="2" style="text-align: center;">{{data[6][0]}}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for keys,values in data[6][1].items() %}
                  <tr>
                    <td>{{keys}}</td>
                    <td>{{values}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <table class="table table-bordered" style="width:40%; float:left; margin-top: 9%; margin-left: 2%;">
                <thead>
                  <tr>
                    <th scope="col" colspan="2" style="text-align: center;">{{data[7][0]}}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for keys,values in data[7][1].items() %}
                  <tr>
                    <td>{{keys}}</td>
                    <td>{{values}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>


              <table class="table table-bordered" style="width:40%; float:right; margin-top:2%; margin-right: 2%;">
                <thead>
                  <tr>
                    <th scope="col" colspan="2" style="text-align: center;">{{data[8][0]}}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for keys,values in data[8][1].items() %}
                  <tr>
                    <td>{{keys}}</td>
                    <td>{{values}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              


              <table class="table table-bordered" style="width:30%; float:left; margin-top: 2%; margin-left: 2%; margin-right: 30%; ">
                <thead>
                  <tr>
                    <th scope="col" colspan="3" style="text-align: center;">{{data[9][0]}}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for keys,values in data[9][1].items() %}
                  <tr>
                    <td>{{keys}}</td>
                    {% for val in values %}
                    <td>{{val}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
 
            <table class="table table-bordered" style="width:60%; float:right; margin-right: 2%; margin-top: -31%;">
              <thead>
                <tr>
                  <th scope="col" colspan="2" style="text-align: center;">{{data[10][0]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for val in data[10][1] %}
                <tr>
                  <td style="text-align: center;">{{val}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table> 

{% endblock %}