{% extends 'base_template.html' %}
{% block tsa_home %}

<nav class="navbar navbar-light bg-light" style="margin-left: 28%; margin-top: 15%; ">
<form autocomplete="off" method="POST" action="/trend_ac/" >
    <div class="autocomplete" >
      <input id="myInput" type="text" name="search" placeholder="Search" style="width: 500px; height: 40px;">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="height: 40px;">Search</button>
</div> 
  </form>
  </nav>
<script>
var companies=
['AARTIIND - Aarti Industries Ltd. - CHEMICALS - ORGANIC',
 'ABBOTINDIA - Abbott India Ltd. - PHARMACEUTICALS',
 'ABCAPITAL - Aditya Birla Capital Ltd. - FINANCE',
 'ABFRL - Aditya Birla Fashion and Retail Ltd. - RETAIL',
 'ACC - ACC Ltd. - CEMENT AND CEMENT PRODUCTS',
 'ADANIGAS - Adani Gas Ltd. - MISCELLANEOUS',
 'ADANIPORTS - Adani Ports & Special Economic Zone Ltd. - CONSTRUCTION',
 'ADANIPOWER - Adani Power Limited - POWER',
 'ADANITRANS - Adani Transmission Ltd. - MISCELLANEOUS',
 'AJANTPHARM - Ajanta Pharmaceuticals Ltd. - PHARMACEUTICALS',
 'ALKEM - Alkem Laboratories Ltd. - PHARMACEUTICALS',
 'AMARAJABAT - Amara Raja Batteries Ltd. - AUTO ANCILLARIES',
 'AMBUJACEM - Ambuja Cements Ltd. - CEMENT AND CEMENT PRODUCTS',
 'APOLLOHOSP - Apollo Hospitals Enterprises Ltd. - Hospitals & Medical Services',
 'APOLLOTYRE - Apollo Tyres Ltd. - TYRES',
 'ASHOKLEY - Ashok Leyland Ltd. - AUTOMOBILES - 4 WHEELERS',
 'ASIANPAINT - Asian Paints Ltd. - PAINTS',
 'AUBANK - Au Small Finance Bank Ltd. - FINANCE',
 'AUROPHARMA - Aurobindo Pharma Ltd. - PHARMACEUTICALS',
 'AXISBANK - Axis Bank Ltd. - BANKS',
 'BAJAJ-AUTO - Bajaj Auto Ltd. - AUTOMOBILES - 2 AND 3 WHEELERS',
 'BAJAJFINSV - Bajaj Finserv Ltd. - FINANCIAL INSTITUTION',
 'BAJAJHLDNG - Bajaj Holdings & Investment Ltd. - FINANCIAL INSTITUTION',
 'BAJFINANCE - Bajaj Finance - FINANCE',
 'BALKRISIND - Balkrishna Industries Ltd. - TYRES',
 'BANDHANBNK - Bandhan Bank Ltd. - BANKS',
 'BANKBARODA - Bank of Baroda - BANKS',
 'BANKINDIA - Bank of India - BANKS',
 'BATAINDIA - Bata India Ltd. - LEATHER AND LEATHER PRODUCTS',
 'BBTC - Bombay Burmah Trading Corporation Ltd. - TEA AND COFFEE',
 'BEL - Bharat Electronics Ltd. - ELECTRONICS - INDUSTRIAL',
 'BERGEPAINT - Berger Paints India Ltd. - PAINTS',
 'BHARATFORG - Bharat Forge Ltd. - CASTINGS/FORGINGS',
 'BHARTIARTL - Bharti Airtel Ltd. - TELECOMMUNICATION - SERVICES',
 'BHEL - Bharat Heavy Electricals Ltd. - ELECTRICAL EQUIPMENT',
 'BIOCON - Biocon Ltd. - PHARMACEUTICALS',
 'BOSCHLTD - Bosch Ltd. - AUTO ANCILLARIES',
 'BPCL - Bharat Petroleum Corporation Ltd. - REFINERIES',
 'BRITANNIA - Britannia Industries Ltd. - FOOD AND FOOD PROCESSING',
 'CADILAHC - Cadila Healthcare Ltd. - PHARMACEUTICALS',
 'CANBK - Canara Bank - BANKS',
 'CASTROLIND - Castrol (India) Ltd. - PETROCHEMICALS',
 'CESC - CESC Ltd. - POWER',
 'CHOLAFIN - Cholamandalam Investment and Finance Company - FINANCE',
 'CIPLA - Cipla Ltd. - PHARMACEUTICALS',
 'COALINDIA - Coal India Ltd - MINING',
 'COLPAL - Colgate Palmolive (India) Ltd. - PERSONAL CARE',
 'CONCOR - Container Corporation of India Ltd. - TRAVEL AND TRANSPORT',
 'COROMANDEL - Coromandel International Ltd. - FERTILISERS',
 'CROMPTON - Crompton Greaves Ltd. - ELECTRICAL EQUIPMENT',
 'CUB - City Union Bank Ltd. - BANKS',
 'CUMMINSIND - Cummins India Ltd. - DIESEL ENGINES',
 'DABUR - Dabur India Ltd. - PERSONAL CARE',
 'DALBHARAT - Dalmia Bharat Ltd. - MISCELLANEOUS',
 "DIVISLAB - Divi's Laboratories Ltd. - PHARMACEUTICALS",
 'DLF - DLF Ltd. - CONSTRUCTION',
 'DMART - Avenue Supermarts Ltd. - RETAIL',
 "DRREDDY - Dr. Reddy's Laboratories Ltd. - PHARMACEUTICALS",
 'EDELWEISS - Edelweiss Financial Services Ltd. - FINANCIAL INSTITUTION',
 'EICHERMOT - Eicher Motors Ltd. - AUTOMOBILES - 4 WHEELERS',
 'EMAMILTD - Emami Ltd. - PERSONAL CARE',
 'ENDURANCE - Endurance Technologies - AUTOMOBILES - 2 AND 3 WHEELERS',
 'ESCORTS - Escorts Ltd. - AUTOMOBILES - 4 WHEELERS',
 'EXIDEIND - Exide Industries Ltd. - AUTO ANCILLARIES',
 'FEDERALBNK - Federal Bank Ltd. - BANKS',
 'FORTIS - Fortis Healthcare Ltd. - MISCELLANEOUS',
 'FRETAIL - Future Retail Ltd. - RETAIL',
 'GAIL - GAIL (India) Ltd. - GAS',
 'GICRE - General Insurance Corporation of India Ltd. - DIVERSIFIED',
 'GLENMARK - Glenmark Pharmaceuticals Ltd. - PHARMACEUTICALS',
 'GMRINFRA - GMR Infrastructure Ltd. - CONSTRUCTION',
 'GODREJAGRO - Godrej Agrovet Ltd. - MISCELLANEOUS',
 'GODREJCP - Godrej Consumer Products Ltd. - PERSONAL CARE',
 'GODREJIND - Godrej Industries Ltd. - CHEMICALS - INORGANIC',
 'GODREJPROP - Godrej Properties Ltd. - CONSTRUCTION',
 'GRASIM - Grasim Industries Ltd. - CEMENT AND CEMENT PRODUCTS',
 'GSPL - Gujarat State Petronet Ltd. - GAS',
 'GUJGASLTD - Gujarat Gas Co. Ltd. - GAS',
 "HAVELLS - Havell's India Ltd. - ELECTRICAL EQUIPMENT",
 'HCLTECH - HCL Technologies Ltd. - COMPUTERS - SOFTWARE',
 'HDFC - Housing Development Finance Corporation Ltd. - FINANCE - HOUSING',
 'HDFCAMC - HDFC Asset Management Company Ltd. - FINANCE',
 'HDFCBANK - HDFC Bank Ltd. - BANKS',
 'HDFCLIFE - HDFC Life Insurance Company Ltd. - MISCELLANEOUS',
 'HEROMOTOCO - Hero MotoCorp Ltd. - AUTOMOBILES - 2 AND 3 WHEELERS',
 'HEXAWARE - Hexaware Technologies Ltd. - COMPUTERS - SOFTWARE',
 'HINDALCO - Hindalco Industries Ltd. - ALUMINIUM',
 'HINDPETRO - Hindustan Petroleum Corporation Ltd. - REFINERIES',
 'HINDUNILVR - Hindustan Unilever Ltd. - PERSONAL CARE',
 'HINDZINC - Hindustan Zinc Ltd. - METALS',
 'HUDCO - Housing & Urban Development Corporation Ltd. - CONSTRUCTION',
 'IBULHSGFIN - Indiabulls Housing Finance - FINANCE - HOUSING',
 'IBVENTURES - Indiabulls Ventures - FINANCE',
 'ICICIBANK - ICICI Bank Ltd. - BANKS',
 'ICICIGI - ICICI Lombard General Insurance Company Ltd. - DIVERSIFIED',
 'ICICIPRULI - ICICI Prudential Life Insurance Company - FINANCE',
 'IDBI - Industrial Development Bank of India Ltd. - BANKS',
 'IDEA - Vodafone Idea Ltd. - TELECOMMUNICATION - SERVICES',
 'IDFCFIRSTB - IDFC First Bank Ltd. - BANKS',
 'IGL - Indraprastha Gas Ltd. - GAS',
 'INDHOTEL - Indian Hotels Co. Ltd. - HOTELS',
 'INDIGO - Interglobe Aviation - TRAVEL AND TRANSPORT',
 'INDUSINDBK - IndusInd Bank Ltd. - BANKS',
 'INFRATEL - Bharti Infratel - TELECOMMUNICATION - EQUIPMENT',
 'INFY - Infosys Ltd. - COMPUTERS - SOFTWARE',
 'IOC - Indian Oil Corporation Ltd. - REFINERIES',
 'IPCALAB - Ipca Laboratories Ltd. - PHARMACEUTICALS',
 'IRCTC - Indian Railway Catering & Tourism Corp Ltd. - MISCELLANEOUS',
 'ITC - I T C Ltd. - CIGARETTES',
 'JINDALSTEL - Jindal Steel & Power Ltd. - STEEL AND STEEL PRODUCTS',
 'JSWENERGY - JSW Energy Ltd. - POWER',
 'JSWSTEEL - JSW Steel Ltd. - STEEL AND STEEL PRODUCTS',
 'JUBILANT - Jubilant Life Sciences Ltd. - CHEMICALS - ORGANIC',
 'JUBLFOOD - Jubliant Foodworks Limited - FOOD AND FOOD PROCESSING',
 'KOTAKBANK - Kotak Mahindra Bank Ltd. - BANKS',
 'L&TFH - L&T Finance Holdings Ltd. - FINANCE',
 'LALPATHLAB - Dr. Lal Pathlabs Ltd. - PHARMACEUTICALS',
 'LICHSGFIN - LIC Housing Finance Ltd. - FINANCE - HOUSING',
 'LT - Larsen & Toubro Ltd. - ENGINEERING',
 'LTI - Larsen & Toubro Infotech - COMPUTERS - SOFTWARE',
 'LTTS - L&T Technology Services - COMPUTERS - SOFTWARE',
 'LUPIN - Lupin Ltd. - PHARMACEUTICALS',
 'M&M - Mahindra & Mahindra Ltd. - AUTOMOBILES - 4 WHEELERS',
 'M&MFIN - Mahindra & Mahindra Financial Services Ltd. - FINANCIAL INSTITUTION',
 'MANAPPURAM - Manappuram Finance Limited - FINANCIAL INSTITUTION',
 'MARICO - Marico Ltd. - PERSONAL CARE',
 'MARUTI - Maruti Suzuki India Ltd. - AUTOMOBILES - 4 WHEELERS',
 'MCDOWELL-N - United Spirits Ltd. - BREW/DISTILLERIES',
 'MFSL - Max Financial Services Ltd. - PACKAGING',
 'MGL - Mahanagar Gas Ltd - REFINERIES',
 'MINDTREE - MindTree Ltd. - COMPUTERS - SOFTWARE',
 'MOTHERSUMI - Motherson Sumi Systems Ltd. - AUTO ANCILLARIES',
 'MPHASIS - MphasiS Ltd. - COMPUTERS - SOFTWARE',
 'MRF - MRF Ltd. - TYRES',
 'MRPL - Mangalore Refinery & Petrochemicals Ltd. - REFINERIES',
 'MUTHOOTFIN - Muthoot Finance - FINANCIAL INSTITUTION',
 'NAM-INDIA - Nippon Life India Asset Management Ltd. - MISCELLANEOUS',
 'NATCOPHARM - Natco Pharma Ltd. - PHARMACEUTICALS',
 'NATIONALUM - National Aluminium Co. Ltd. - ALUMINIUM',
 'NAUKRI - Info Edge (India) Ltd. - COMPUTERS - SOFTWARE',
 'NESTLEIND - Nestle India Ltd. - FOOD AND FOOD PROCESSING',
 'NHPC - NHPC LIMITED - POWER',
 'NIFTY - S&P CNX NIFTY - INDEX',
 'NIFTY_500 - NIFTY 500 - INDEX',
 'NIITTECH - NIIT TECHNOLOGIES LTD - COMPUTERS - SOFTWARE',
 'NMDC - NMDC Ltd. - MINING',
 'NTPC - NTPC Ltd. - POWER',
 'OBEROIRLTY - Oberoi Realty Ltd. - CONSTRUCTION',
 'OFSS - Oracle Financial Services Software Ltd. - COMPUTERS - SOFTWARE',
 'OIL - Oil India Ltd. - OIL EXPLORATION/PRODUCTION',
 'ONGC - Oil & Natural Gas Corporation Ltd. - OIL EXPLORATION/PRODUCTION',
 'PAGEIND - Page Industries - TEXTILE PRODUCTS',
 'PEL - Piramal Enterprises - PHARMACEUTICALS',
 'PETRONET - Petronet LNG Ltd. - GAS',
 'PFC - Power Finance Corporation Ltd. - FINANCIAL INSTITUTION',
 'PFIZER - Pfizer Ltd. - PHARMACEUTICALS',
 'PGHH - Procter & Gamble Hygiene & Health Care Ltd. - PERSONAL CARE',
 'PIDILITIND - Pidilite Industries Ltd. - CHEMICALS - INORGANIC',
 'PIIND - PI Industries Limited - PESTICIDES AND AGROCHEMICALS',
 'PNB - Punjab National Bank - BANKS',
 'PNBHOUSING - PNB Housing Finance Ltd. - FINANCE',
 'POLYCAB - Polycab India Ltd. - CABLES - TELECOM',
 'POWERGRID - Power Grid Corporation of India Ltd. - POWER',
 'PRESTIGE - Prestige Estates Projects Ltd. - CONSTRUCTION',
 'QUESS - Quess Corp Ltd - ENGINEERING',
 'RAJESHEXPO - Rajesh Exports Ltd. - GEMS, JEWELLERY AND WATCHES',
 'RAMCOCEM - The Ramco Cements Ltd. - CEMENT AND CEMENT PRODUCTS',
 'RBLBANK - RBL Bank - BANKS',
 'RECLTD - REC Ltd. - FINANCIAL INSTITUTION',
 'RELIANCE - Reliance Industries Ltd. - REFINERIES',
 'SAIL - Steel Authority of India Ltd. - STEEL AND STEEL PRODUCTS',
 'SBICARD - SBI Cards & Payment Services Ltd. - FINANCE',
 'SBILIFE - SBI Life Insurance Company Ltd. - DIVERSIFIED',
 'SBIN - State Bank of India - BANKS',
 'SHREECEM - Shree Cement Ltd. - CEMENT AND CEMENT PRODUCTS',
 'SIEMENS - Siemens Ltd. - ELECTRICAL EQUIPMENT',
 'SRF - SRF Ltd. - TEXTILES - SYNTHETIC',
 'SRTRANSFIN - Shriram Transport Finance Co. Ltd. - FINANCIAL INSTITUTION',
 'SUNPHARMA - Sun Pharmaceutical Industries Ltd. - PHARMACEUTICALS',
 'SUNTV - Sun TV Network Ltd. - MEDIA & ENTERTAINMENT',
 'SYNGENE - Syngene International Ltd. - MISCELLANEOUS',
 'TATACONSUM - Tata Consumer Products Ltd. - TEA AND COFFEE',
 'TATAMOTORS - Tata Motors Ltd. - AUTOMOBILES - 4 WHEELERS',
 'TATAPOWER - Tata Power Co. Ltd. - POWER',
 'TATASTEEL - Tata Steel Ltd. - STEEL AND STEEL PRODUCTS',
 'TCS - Tata Consultancy Services Ltd. - COMPUTERS - SOFTWARE',
 'TECHM - Tech Mahindra Ltd. - COMPUTERS - SOFTWARE',
 'TITAN - Titan Company Ltd. - GEMS, JEWELLERY AND WATCHES',
 'TORNTPHARM - Torrent Pharmaceuticals Ltd. - PHARMACEUTICALS',
 'TORNTPOWER - Torrent Power Ltd. - POWER',
 'TRENT - Trent Ltd. - MISCELLANEOUS',
 'TVSMOTOR - TVS Motor Company Ltd. - AUTOMOBILES - 2 AND 3 WHEELERS',
 'UBL - United Breweries Ltd. - BREW/DISTILLERIES',
 'ULTRACEMCO - UltraTech Cement Ltd. - CEMENT AND CEMENT PRODUCTS',
 'UNIONBANK - Union Bank of India - BANKS',
 'UPL - UPL Ltd. - PESTICIDES AND AGROCHEMICALS',
 'VBL - Varun Beverages Ltd. - FOOD AND FOOD PROCESSING',
 'VEDL - Vedanta Ltd - MINING',
 'VGUARD - V-Guard Industries - MISCELLANEOUS',
 'VOLTAS - Voltas Ltd. - CONSUMER DURABLES',
 'WHIRLPOOL - Whirpool Of India Ltd. - CONSUMER DURABLES',
 'WIPRO - Wipro Ltd. - COMPUTERS - SOFTWARE',
 'ZEEL - Zee Entertainment Enterprises Ltd. - MEDIA & ENTERTAINMENT']

function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
          /*check if the item starts with the same letters as the text field value:*/
          if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            /*create a DIV element for each matching element:*/
            b = document.createElement("DIV");
            /*make the matching letters bold:*/
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            /*insert a input field that will hold the current array item's value:*/
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            /*execute a function when someone clicks on the item value (DIV element):*/
                b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
            });
            a.appendChild(b);
          }
        }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          /*If the arrow DOWN key is pressed,
          increase the currentFocus variable:*/
          currentFocus++;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 38) { //up
          /*If the arrow UP key is pressed,
          decrease the currentFocus variable:*/
          currentFocus--;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 13) {
          /*If the ENTER key is pressed, prevent the form from being submitted,*/
          e.preventDefault();
          if (currentFocus > -1) {
            /*and simulate a click on the "active" item:*/
            if (x) x[currentFocus].click();
          }
        }
    });
    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
  }

    autocomplete(document.getElementById("myInput"), companies);
    </script>




{% endblock %}